$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$bg-color: #252c3c;
$bg-color-light: lighten($bg-color, 5%);
$bg-color-very-light: lighten($bg-color, 20%);
$bg-color-dark: darken($bg-color, 5%);

$primary-color: #009688;
$accent-color: #F50057;

body {
    background-color: $bg-color;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: lighten($bg-color, 60%);
  border: none;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($bg-color, 77%);
}

::-webkit-scrollbar-thumb:active {
  background: darken($bg-color, 7.5%);
}

::-webkit-scrollbar-track {
  background: $bg-color-light;
  border: 0px none $snow;
  border-radius: 50px;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#header {
  width: 100%;
  height: 4rem;
}

#clock {
  height: 4rem;
  line-height: 4rem;
  width: 5em;
  text-align: center;
  margin: auto;
  font-size: 2em;
  color: $snow;
  font-weight: 300;
}

#help {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
}

#help button {
  height: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.75em;
  font-weight: 500;
  word-spacing: 2;
  letter-spacing: 0.1em;
}

#categories .btn {
  cursor: pointer;
}

#item-container {
  width: 61.8034%;
  max-height: 15rem;
  margin: auto;
  padding-bottom: 0.25rem;
  overflow-x: scroll;
  overflow-y: hidden;

  .card {
    max-width: 15rem;
    background-color: $bg-color-dark;
    transition: background 200ms;
    cursor: pointer !important;

    &:hover {
      background-color: darken($bg-color-dark, 2.5%);
    }

    &.selected {
      background-color: darken($bg-color-dark, 7.5%);
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;

      .fa {
        vertical-align: middle;
      }
    }

    img {
      max-width: 100%;
      max-height: 10rem;
      width: auto;
      height: auto;
      object-fit: contain;
    }

    .card-block {
      padding: 0.85rem;
    }
  }
}

#order {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20em;
  height: 30em;
  background-color: $bg-color-very-light;
  border-radius: 0;
  overflow-y: scroll;

  .card {
    background-color: transparent;
    border: none;
    border-radius: 0;

    .card-header {
      background-color: $bg-color-light;
      border-radius: 0;
    }

    .card-block {
      padding: 0;
    }

    .list-group-item {
      background-color: lighten($bg-color-light, 2%);
      color: $snow;
      border-radius: 0;

      button {
        color: $snow;
        text-shadow: none;
        opacity: 1;
      }
    }
  }
}
