$white:        #FFFFFF;
$ghost:        #FAFAFA;
$snow:         #F9F9F9;
$vapor:        #F6F6F6;
$white-smoke:  #F5F5F5;
$silver:       #EFEFEF;
$smoke:        #EEEEEE;
$gainsboro:    #DDDDDD;
$iron:         #CCCCCC;
$base:         #AAAAAA;
$aluminum:     #999999;
$jumbo:        #888888;
$monsoon:      #777777;
$steel:        #666666;
$charcoal:     #555555;
$tuatara:      #444444;
$oil:          #333333;
$jet:          #222222;
$black:        #000000;

$bg-color:            #252c3c;
$bg-color-light:      lighten($bg-color, 5%);
$bg-color-very-light: lighten($bg-color, 20%);
$bg-color-dark:       darken($bg-color, 5%);

$primary-color: #009688;
$accent-color:  #F50057;

body {
  background-color: $bg-color;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: lighten($bg-color, 60%);
  border: 0;
  border-radius: 50px;

  &:hover {
    background: lighten($bg-color, 77%);
  }

  &:active {
    background: darken($bg-color, 7.5%);
  }
}

::-webkit-scrollbar-track {
  background: $bg-color-light;
  border: 0 none $snow;
  border-radius: 50px;

  &:active {
    background: $oil;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#header {
  height: 4rem;
  width: 100%;
}

#clock {
  color: $snow;
  font-size: 2em;
  font-weight: 300;
  height: 4rem;
  line-height: 4rem;
  margin: auto;
  text-align: center;
  width: 5em;
}

#help {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

#help button {
  font-size: 1.75em;
  font-weight: 500;
  height: 4rem;
  letter-spacing: .1em;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  word-spacing: 2;
}

#categories .btn {
  cursor: pointer;
}

#item-container {
  margin: auto;
  max-height: 15rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: .25rem;
  width: 61.8034%;


  .card {
    background-color: $bg-color-dark;
    cursor: pointer !important;
    max-width: 15rem;
    transition: background 200ms;

    &:hover {
      background-color: darken($bg-color-dark, 2.5%);
    }

    &.selected {
      background-color: darken($bg-color-dark, 7.5%);
    }

    button {
      bottom: 0;
      cursor: pointer;
      position: absolute;
      right: 0;

      .fa {
        vertical-align: middle;
      }
    }

    img {
      height: auto;
      max-height: 10rem;
      max-width: 100%;
      object-fit: contain;
      width: auto;
    }

    .card-block {
      padding: .85rem;
    }
  }
}

#order {
  background-color: $bg-color-very-light;
  border-radius: 0;
  height: 30em;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20em;

  .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;

    .card-header {
      background-color: $bg-color-light;
      border-radius: 0;
    }

    .card-block {
      padding: 0;
    }

    .list-group-item {
      background-color: lighten($bg-color-light, 2%);
      border-radius: 0;
      color: $snow;

      button {
        color: $snow;
        opacity: 1;
        padding-left: .5em;
        text-shadow: none;
      }
    }
  }
}

#order-inner {
  max-height: 100%;
  overflow-y: scroll;
}

#confirm {
  bottom: 0;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  transform: translateY(100%);
}

#price {
  bottom: 0;
  color: $snow;
  font-size: 1.2em;
  position: absolute;
  transform: translateY(100%);
}

#selected-item {
  padding: 2rem;
  position: absolute;
  width: 100%;

  img {
    max-height: calc(100vh - 4rem - 15rem - 1.5rem - 10rem);
  }

  table {
    color: $snow;
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: pre;
  }

  button {
    position: absolute;
    right: 25%;
  }

}
