
/*
Backgroud color    -> #252c3c
Lighter background -> #3a414f
Darker background  -> #161a24
*/

body {
    background-color: #252c3c;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #3a414f;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#header {
  width: 100%;
  height: 4rem;
}

#clock {
  height: 4rem;
  line-height: 4rem;
  width: 5em;
  text-align: center;
  margin: auto;
  font-size: 2em;
  color: white;
  font-weight: 300;
}

#help {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
}

#help button {
  height: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.75em;
  font-weight: 500;
  word-spacing: 2;
  letter-spacing: 0.1em;
}

#item-container {
  width: 70%;
  max-height: 15rem;
  margin: auto;
  padding-bottom: 0.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

#item-container .card {
  max-width: 15rem;
  background-color: #161a24;
}

#item-container .card img {
  max-width: 100%;
  max-height: 10rem;
  width: auto;
  height: auto;
  object-fit: contain;
}

#item-container .card .card-block {
  padding: 0.85rem;
}
