
body {
    background-color: #252c3c;
}

#header {
  width: 100%;
  height: 4rem;
}

#clock {
  height: 4rem;
  line-height: 4rem;
  width: 5em;
  text-align: center;
  margin: auto;
  font-size: 2em;
  color: white;
  font-weight: 300;
}

#help {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
}

#help button {
  height: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.75em;
  font-weight: 500;
  word-spacing: 2;
  letter-spacing: 0.1em;
}

#item-container {
  width: 85%;
  margin: auto;
}

#item-container .card {
  max-width: 15rem;
  background-color: #0e1118;
}

/*#item-container .card img {
  max-height: 7.5rem;
  width: auto;
}*/
