
body {
  font-family: calibri;
  text-align: center;
}

#title {
  color: green;
}

#links {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

h2.section {
  border-bottom: solid 1px;
}

.section.header {
  cursor: pointer;
}

.inner_section.hidden {
  display: none;
}
